html, body {
  height: 100%;
  min-height: 100%;
  font-family: arial; }

.mfo-component, .mfo-component--tl, .mfo-component--tr, .mfo-component--bl, .mfo-component--br {
  bottom: 0;
  padding: 25px;
  position: fixed;
  white-space: nowrap;
  z-index: 30;
  will-change: top,left; }

.mfo-component--tl {
  left: 0;
  top: 0; }

.mfo-component--tr {
  right: 0;
  top: 0; }

.mfo-component--bl {
  left: 0;
  bottom: 0; }

.mfo-component--br {
  right: 0;
  bottom: 0; }

.mfo-component__main:hover {
  background: rgba(0, 0, 0, 0.1); }

.mfo-component__button, .mfo-component__button--parent, .mfo-component__button--child {
  background-color: #CF432A;
  height: 56px;
  position: relative;
  width: 56px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-sizing: content-box;
  cursor: pointer;
  outline: none;
  padding: 0;
  pointer-events: auto;
  position: relative;
  -webkit-user-drag: none;
  -webkit-transform: scale(1) rotate(360deg);
  transform: scale(1) rotate(360deg);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 1, 1);
  transition: transform 150ms cubic-bezier(0.4, 0, 1, 1);
  font-weight: bold;
  color: #f1f1f1; }

.mfo-component__button--parent {
  z-index: 20; }

.mfo-component__main-icon {
  position: absolute; }

.mfo-component__list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .mfo-component__list li {
    display: block;
    position: absolute;
    top: 25px; }

.mfo-component .mfo-component__list li, .mfo-component--tl .mfo-component__list li, .mfo-component--tr .mfo-component__list li, .mfo-component--bl .mfo-component__list li, .mfo-component--br .mfo-component__list li {
  opacity: 0;
  transition: all 0.5s; }
.mfo-component:hover .mfo-component__list li, .mfo-component--tl:hover .mfo-component__list li, .mfo-component--tr:hover .mfo-component__list li, .mfo-component--bl:hover .mfo-component__list li, .mfo-component--br:hover .mfo-component__list li {
  opacity: 1; }
  .mfo-component:hover .mfo-component__list li:nth-child(1), .mfo-component--tl:hover .mfo-component__list li:nth-child(1), .mfo-component--tr:hover .mfo-component__list li:nth-child(1), .mfo-component--bl:hover .mfo-component__list li:nth-child(1), .mfo-component--br:hover .mfo-component__list li:nth-child(1) {
    -webkit-transform: translateY(-70px); }
  .mfo-component:hover .mfo-component__list li:nth-child(2), .mfo-component--tl:hover .mfo-component__list li:nth-child(2), .mfo-component--tr:hover .mfo-component__list li:nth-child(2), .mfo-component--bl:hover .mfo-component__list li:nth-child(2), .mfo-component--br:hover .mfo-component__list li:nth-child(2) {
    -webkit-transform: translateY(-140px); }

article {
  position: absolute;
  height: 100%;
  width: 56px;
  background: black;
  transition: all 1s;
  top: 0;
  opacity: 0.1; }

.mfo-component:hover article, .mfo-component--tl:hover article, .mfo-component--tr:hover article, .mfo-component--bl:hover article, .mfo-component--br:hover article {
  top: -140px;
  height: 140px;
  width: 100%; }

.mfo-component__label {
  background: rgba(0, 0, 0, 0.4);
  padding: 4px 10px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px; }

.mfo-component__button + .mfo-component__label, .mfo-component__button--parent + .mfo-component__label, .mfo-component__button--child + .mfo-component__label {
  opacity: 0;
  transition: all .5s; }

.mfo-component__button:hover + .mfo-component__label, .mfo-component__button--parent:hover + .mfo-component__label, .mfo-component__button--child:hover + .mfo-component__label {
  opacity: 1;
  transition: all .3s; }

/*# sourceMappingURL=style.css.map */
