<!DOCTYPE HTML>
<html ng-app="test-app">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../mfb/src/mfb.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.css"> 
    <script type="text/javascript" src="../mfb/src/lib/modernizr.touch.js"></script>   
    <title>Ng-material-floating-button</title>
  </head>
  <body ng-controller="myCtrl">

    <mfb-menu position="tl" effect="slidein" label="hover here" active-icon="ion-edit" resting-icon="ion-plus-round" toggling-method="hover">
      <mfb-button icon="{{button.icon}}" label="{{button.label}}" ng-repeat="button in buttons"></mfb-button>
    </mfb-menu>

    <div mfb-menu position="tr" effect="zoomin" label="hover here" active-icon="ion-edit" resting-icon="ion-plus-round" toggling-method="hover">
      <a mfb-button icon="{{button.icon}}" label="{{button.label}}" ng-repeat="button in buttons"></a>  
    </div>

    <div mfb-menu position="br" effect="zoomin" label="hover here" active-icon="ion-edit" resting-icon="ion-plus-round" toggling-method="click">
      <a mfb-button icon="{{button.icon}}" label="{{button.label}}" ng-repeat="button in buttons"></a>  
    </div>

    <div mfb-menu position="bl" effect="zoomin" label="hover here" active-icon="ion-edit" resting-icon="ion-plus-round" toggling-method="click">
      <a mfb-button icon="{{button.icon}}" label="{{button.label}}" ng-repeat="button in buttons"></a>  
    </div>    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
  <script>!window.angular && document.write(unescape('%3Cscript src="../bower_components/angularjs/angular.js"%3E%3C/script%3E'))</script>
  <script type="text/javascript" src="mfb-directive.js"></script>
  <script>

  var app = angular.module('test-app', ['ng-mfb']);

  app.controller('myCtrl', function($scope){

    $scope.buttons = [{
      label: 'a link',
      icon: 'ion-paper-airplane'
    },{
      label: 'a link',
      icon: 'ion-paper-airplane'
    },{
      label: 'a link',
      icon: 'ion-paper-airplane'
    },{
      label: 'a link',
      icon: 'ion-paper-airplane'
    }];

  });
  </script>
  </body>
</html>